{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    Author: {{ comment.author }}<br />
    Email: {{ comment.email }}<br />
    State: {{ comment.state }}<br />

    <p>{{ comment.text }}</p>
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    <button href="{{ url('review_comment', { action: 'publish', id: comment.id }) }}">Publish</button>
    <button href="{{ url('review_comment', { action: 'reject',  id: comment.id }) }}">Reject</button>
{% endblock %}